<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='main.css') }}" />
        
        <!--
            <script src="main.js"></script>

            <meta http-equiv="refresh" content="1.5" >
        -->
    </head>
    <body>
        <input type="checkbox" id="topbar">
        <ul id="menu">
            <li>
                <h1>PROFILE</h1>
                <button>PROFILE</button>
            </li>
            <li>
                <h1>DATA</h1>
            </li>
            <li>
                <h1>SETTINGS</h1>
            </li>
            <li>
                <h1>WIKI</h1>
            </li>
        </ul>
        <ul id="plants">
            {% for user in plants %}
            <li>
                <img src="{{ url_for('static', filename='leaf.svg') }}" id="icon">
                <div class="plant_text"><div class="plant">
                </div>
                    <h1 class="plant_name">{{ user }}</h1>
                    <p class="plant_location">Desk in Spock</p>
                </div>
                <div class="circle"></div>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>